.header {
    display: flex;
    align-items: center;
}

.flex-start {
    display: flex;
    align-items: center;
}

.search-bar {
    position: relative;
    margin-left: auto;
    margin-right: 20px;
}

.search-bar input[type="text"] {
    padding-right: 30px;
}

.filter-btn,
.sort-btn,
.create-btn {
    margin-left: 20px;
}

button {
    padding: 8px 16px;
    /* Increase button padding */
    font-size: 16px;
    /* Increase font size */
}

.icon svg {
    width: 24px;
    height: 24px;
}

.search-bar .icon.search {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}